/* -------------------------------- 

File#: _2_team
Title: Team
Descr: A gallery of team members
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*, *::after, *::before {
    box-sizing: border-box;
  }
  
  * {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  
  h1, h2, h3, h4 {
    line-height: 1.2;
    color: hsl(230, 13%, 9%);
    font-weight: 700;
  }
  
  h1 {
    font-size: 2.0736rem;
  }
  
  h2 {
    font-size: 1.728rem;
  }
  
  h3 {
    font-size: 1.25rem;
  }
  
  h4 {
    font-size: 1.2rem;
  }
  
  ol, ul, menu {
    list-style: none;
  }
  
  button, input, textarea, select {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    appearance: none;
  }
  
  textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
  }
  
  a {
    color: hsl(250, 84%, 54%);
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  img, video, svg {
    display: block;
    max-width: 100%;
  }
  
  @media (min-width: 64rem) {
    body {
      font-size: 1.25rem;
    }
  
    h1 {
      font-size: 3.051rem;
    }
  
      h2 {
      font-size: 2.44rem;
    }
  
      h3 {
      font-size: 1.75rem;
    }
  
      h4 {
      font-size: 1.5625rem;
    }
  }
  
  /* variables */
  :root {
    /* colors */
    --ty9-color-primary-hsl: 250, 84%, 54%;
    --ty9-color-bg-hsl: 0, 0%, 100%;
    --ty9-color-contrast-high-hsl: 230, 7%, 23%;
    --ty9-color-contrast-higher-hsl: 230, 13%, 9%;
  
    /* spacing */
    --ty9-space-3xs: 0.25rem;
    --ty9-space-sm: 0.75rem;
    --ty9-space-md: 1.25rem;
    --ty9-space-lg: 2rem;
    --ty9-space-xl: 3.25rem;
  
    /* typography */
    --ty9-text-md: 1.2rem;
    --ty9-text-base: 1rem;
    --ty9-text-sm: 0.833rem;
  }
  
  @media(min-width: 64rem){
    :root {
      /* spacing */
      --ty9-space-3xs: 0.375rem;
      --ty9-space-sm: 1.125rem;
      --ty9-space-md: 2rem;
      --ty9-space-lg: 3.125rem;
      --ty9-space-xl: 5.125rem;
  
      /* typography */
      --ty9-text-md: 1.5625rem;
      --ty9-text-base: 1.25rem;
      --ty9-text-sm: 1rem;
    }
  }
  
  /* component */
  .team {
    position: relative;
    z-index: 1;
  }
  
  /* utility classes */
  .ty9-opacity-70\% {
    opacity: 0.7;
  }
  
  .ty9-text-sm {
    font-size: var(--ty9-text-sm);
  }
  
  .ty9-margin-top-3xs {
    margin-top: var(--ty9-space-3xs);
  }
  
  .ty9-text-md {
    font-size: var(--ty9-text-md);
  }
  
  .ty9-text-center {
    text-align: center;
  }
  
  .ty9-padding-sm {
    padding: var(--ty9-space-sm);
  }
  
  .ty9-radius-md {
    border-radius: 0.25em;
  }
  
  .ty9-gap-sm {
    gap: var(--ty9-space-sm);
  }
  
  .ty9-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .ty9-grid > * {
    min-width: 0;
    grid-column-end: span 12;
  }
  
  .ty9-margin-bottom-lg {
    margin-bottom: var(--ty9-space-lg);
  }
  
  .ty9-max-width-adaptive-lg {
    max-width: 32rem;
  }
  
  @media(min-width: 48rem) {
    .ty9-max-width-adaptive-lg {
      max-width: 48rem;
    }
  }
  
  @media(min-width: 64rem) {
    .ty9-max-width-adaptive-lg {
      max-width: 64rem;
    }
  }
  
  @media(min-width: 80rem) {
    .ty9-max-width-adaptive-lg {
      max-width: 80rem;
    }
  }
  
  .ty9-container {
    width: calc(100% - 2*var(--ty9-space-md));
    margin-left: auto;
    margin-right: auto;
  }
  
  .ty9-padding-y-xl {
    padding-top: var(--ty9-space-xl);
    padding-bottom: var(--ty9-space-xl);
  }
  
  .ty9-padding-bottom-sm {
    padding-bottom: var(--ty9-space-sm);
  }
  
  .ty9-padding-top-md {
    padding-top: var(--ty9-space-md);
  }
  
  .ty9-padding-x-sm {
    padding-left: var(--ty9-space-sm);
    padding-right: var(--ty9-space-sm);
  }
  
  @media(min-width: 64rem){
    .ty9-text-base\@md {
      font-size: var(--ty9-text-base);
    }
  
    .ty9-col-3\@md {
      grid-column-end: span 3;
    }
  }
  /* -------------------------------- 

File#: _2_image-interest-points
Title: Points Of Interest
Descr: Highlight the points of interest of an image and provide additional details for each one.
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: system-ui, sans-serif;
  color: hsl(230, 7%, 23%);
  font-size: 1rem;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 700;
}

h1 {
  font-size: 2.0736rem;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;
}

ol, ul, menu {
  list-style: none;
}

button, input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  color: hsl(250, 84%, 54%);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

@media (min-width: 64rem) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.051rem;
  }

    h2 {
    font-size: 2.44rem;
  }

    h3 {
    font-size: 1.75rem;
  }

    h4 {
    font-size: 1.5625rem;
  }
}

/* variables */
:root {
  /* colors */
  --im5-color-primary-hsl: 250, 84%, 54%;
  --im5-color-bg-hsl: 0, 0%, 100%;
  --im5-color-contrast-high-hsl: 230, 7%, 23%;
  --im5-color-contrast-higher-hsl: 230, 13%, 9%;
  --im5-color-accent-hsl: 342, 89%, 48%;
  --im5-color-contrast-medium-hsl: 225, 4%, 47%;
  --im5-color-black-hsl: 230, 13%, 9%;
  --im5-color-white-hsl: 0, 0%, 100%;
  --im5-color-bg-dark-hsl: 240, 4%, 95%;
  --im5-color-primary-darker-hsl: 250, 84%, 38%;
  --im5-color-primary-light-hsl: 250, 84%, 60%;
  --im5-color-contrast-lower-hsl: 240, 4%, 85%;

  /* spacing */
  --im5-space-sm: 0.75rem;
  --im5-space-md: 1.25rem;
  --im5-space-2xs: 0.375rem;
  --im5-space-xs: 0.5rem;

  /* typography */
  --im5-text-lg: 1.25rem;
  --im5-text-md: 1.2rem;
  --im5-text-sm: 0.833rem;
}

@media(min-width: 64rem){
  :root {
    /* spacing */
    --im5-space-sm: 1.125rem;
    --im5-space-md: 2rem;
    --im5-space-2xs: 0.5625rem;
    --im5-space-xs: 0.75rem;

    /* typography */
    --im5-text-lg: 1.75rem;
    --im5-text-md: 1.5625rem;
    --im5-text-sm: 1rem;
  }
}

/* buttons */
.im5-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  white-space: nowrap;
  text-decoration: none;
  background: hsl(var(--im5-color-bg-dark-hsl));
  color: hsl(var(--im5-color-contrast-higher-hsl));
  cursor: pointer;
  text-decoration: none;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s ease;
  will-change: transform;
  padding: var(--im5-space-2xs) var(--im5-space-sm);
  border-radius: 0.25em;
}

.im5-btn:focus-visible {
  box-shadow: 0px 0px 0px 2px hsl(var(--im5-color-bg-hsl)), 0px 0px 0px 4px hsla(var(--im5-color-contrast-higher-hsl), 0.15);
  outline: none;
}

.im5-btn:active {
  transform: translateY(2px);
}

.im5-btn--primary {
  background: hsl(var(--im5-color-primary-hsl));
  color: hsl(var(--im5-color-white-hsl));
  box-shadow: inset 0px 1px 0px hsla(var(--im5-color-white-hsl), 0.15), 0px 1px 3px hsla(var(--im5-color-primary-darker-hsl), 0.25), 0px 2px 6px hsla(var(--im5-color-primary-darker-hsl), 0.1), 0px 6px 10px -2px hsla(var(--im5-color-primary-darker-hsl), 0.25);
}

.im5-btn--primary:hover {
  background: hsl(var(--im5-color-primary-light-hsl));
  box-shadow: inset 0px 1px 0px hsla(var(--im5-color-white-hsl), 0.15), 0px 1px 2px hsla(var(--im5-color-primary-darker-hsl), 0.25), 0px 1px 4px hsla(var(--im5-color-primary-darker-hsl), 0.1), 0px 3px 6px -2px hsla(var(--im5-color-primary-darker-hsl), 0.25);
}

.im5-btn--primary:focus {
  box-shadow: inset 0px 1px 0px hsla(var(--im5-color-white-hsl), 0.15), 0px 1px 2px hsla(var(--im5-color-primary-darker-hsl), 0.25), 0px 1px 4px hsla(var(--im5-color-primary-darker-hsl), 0.1), 0px 3px 6px -2px hsla(var(--im5-color-primary-darker-hsl), 0.25), 0px 0px 0px 2px hsl(var(--im5-color-bg-hsl)), 0px 0px 0px 4px hsl(var(--im5-color-primary-hsl));
}

/* icons */
.im5-icon {
  height: var(--im5-size, 1em);
  width: var(--im5-size, 1em);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.im5-icon--sm {
  --im5-size: 24px;
}

/* component */
.poi {
  pointer-events: none;
}

.poi__item {
  position: absolute;
  pointer-events: auto;
}

.poi__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  --im5-size: 32px;
  height: var(--im5-size);
  width: var(--im5-size);
  border-radius: 50%;
  background-color: hsl(var(--im5-color-accent-hsl));
  box-shadow: inset 0 1px 0.5px hsla(0, 0%, 100%, 0.075), 0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}
.poi__btn::after {
  /* pulse ring */
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 1px 1px hsl(var(--im5-color-accent-hsl));
  -webkit-animation: poi-pulse 2s infinite;
          animation: poi-pulse 2s infinite;
}
.poi__btn .im5-icon {
  color: hsl(var(--im5-color-white-hsl));
  /* icon color */
  --im5-size: 12px;
  transition: -webkit-transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), -webkit-transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.poi__btn:hover .im5-icon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.poi__item--visited button {
  /* style of clicked button */
  background-color: hsla(var(--im5-color-black-hsl), 0.95);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.poi__item--visited button::after {
  display: none;
}

@-webkit-keyframes poi-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0;
  }
}

@keyframes poi-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0;
  }
}

/* utility classes */
.im5-items-center {
  align-items: center;
}

.im5-justify-between {
  justify-content: space-between;
}

.im5-flex {
  display: flex;
}

.im5-margin-top-sm {
  margin-top: var(--im5-space-sm);
}

.im5-color-contrast-medium {
  --im5-color-o: 1;
  color: hsla(var(--im5-color-contrast-medium-hsl), var(--im5-color-o, 1));
}

.im5-text-md {
  font-size: var(--im5-text-md);
}

.im5-text-component :where(h1, h2, h3, h4) {
  line-height: var(--im5-heading-line-height, 1.2);
  margin-top: calc(var(--im5-space-md) * var(--im5-space-multiplier, 1));
  margin-bottom: calc(var(--im5-space-sm) * var(--im5-space-multiplier, 1));
}

.im5-text-component :where(p, blockquote, ul li, ol li) {
  line-height: var(--im5-body-line-height, 1.4);
}

.im5-text-component :where(ul, ol, p, blockquote, .im5-text-component__block) {
  margin-bottom: calc(var(--im5-space-sm) * var(--im5-space-multiplier, 1));
}

.im5-text-component :where(ul, ol) {
  padding-left: 1.25em;
}

.im5-text-component ul :where(ul, ol), .im5-text-component ol :where(ul, ol) {
  padding-left: 1em;
  margin-bottom: 0;
}

.im5-text-component ul {
  list-style-type: disc;
}

.im5-text-component ol {
  list-style-type: decimal;
}

.im5-text-component img {
  display: block;
  margin: 0 auto;
}

.im5-text-component figcaption {
  margin-top: calc(var(--im5-space-xs) * var(--im5-space-multiplier, 1));
  font-size: var(--im5-text-sm);
  text-align: center;}

.im5-text-component em {
  font-style: italic;
}

.im5-text-component strong {
  font-weight: bold;
}

.im5-text-component s {
  text-decoration: line-through;
}

.im5-text-component u {
  text-decoration: underline;
}

.im5-text-component mark {
  background-color: hsla(var(--im5-color-accent-hsl), 0.2);
  color: inherit;
}

.im5-text-component blockquote {
  padding-left: 1em;
  border-left: 4px solid hsl(var(--im5-color-contrast-lower-hsl));
  font-style: italic;
}

.im5-text-component hr {
  margin: calc(var(--im5-space-md) * var(--im5-space-multiplier, 1)) auto;
  background: hsl(var(--im5-color-contrast-lower-hsl));
  height: 1px;
}

.im5-text-component > *:first-child {
  margin-top: 0;
}

.im5-text-component > *:last-child {
  margin-bottom: 0;
}

.im5-text-component.im5-line-height-xs {
  --im5-heading-line-height: 1;
  --im5-body-line-height: 1.1;
}

.im5-text-component.im5-line-height-sm {
  --im5-heading-line-height: 1.1;
  --im5-body-line-height: 1.2;
}

.im5-text-component.im5-line-height-md {
  --im5-heading-line-height: 1.15;
  --im5-body-line-height: 1.4;
}

.im5-text-component.im5-line-height-lg {
  --im5-heading-line-height: 1.22;
  --im5-body-line-height: 1.58;
}

.im5-text-component.im5-line-height-xl {
  --im5-heading-line-height: 1.3;
  --im5-body-line-height: 1.72;
}

.im5-padding-sm {
  padding: var(--im5-space-sm);
}

.im5-shadow-md {
  box-shadow:0 0.9px 1.5px rgba(0, 0, 0, 0.03),0 3.1px 5.5px rgba(0, 0, 0, 0.08),0 14px 25px rgba(0, 0, 0, 0.12);
}

:where(.im5-inner-glow) {
  position: relative;
}

.im5-inner-glow::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075);
}

.im5-radius-md {
  border-radius: 0.25em;
}

.im5-bg {
  --im5-bg-o: 1;
  background-color: hsla(var(--im5-color-bg-hsl), var(--im5-bg-o, 1));
}

.im5-overflow-auto {
  overflow: auto;
}

.im5-max-height-100\% {
  max-height: 100%;
}

.im5-max-width-xs {
  max-width: 38rem;
}

.im5-width-100\% {
  width: 100%;
}

.im5-padding-md {
  padding: var(--im5-space-md);
}

.im5-bg-black {
  --im5-bg-o: 1;
  background-color: hsla(var(--im5-color-black-hsl), var(--im5-bg-o, 1));
}

.im5-flex-center {
  justify-content: center;
  align-items: center;
}

.im5-text-lg {
  font-size: var(--im5-text-lg);
}

.im5-block {
  display: block;
}

.im5-gap-sm {
  gap: var(--im5-space-sm);
}

.im5-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.im5-grid > * {
  min-width: 0;
  grid-column-end: span 12;
}

.im5-max-width-2xs {
  max-width: 32rem;
}

.im5-z-index-1 {
  z-index: 1;
}

.im5-position-relative {
  position: relative;
}

.im5-bg-opacity-90\% {
  --im5-bg-o: 0.9;
}

@media(min-width: 64rem){
  .im5-max-width-xs\@md {
    max-width: 38rem;
  }

  .im5-col-5\@md {
    grid-column-end: span 5;
  }

  .im5-col-7\@md {
    grid-column-end: span 7;
  }
}
/* --------------------------------

File#: _2_article
Title: Article
Descr: Article template
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*, *::after, *::before {
    box-sizing: border-box;
  }
  
  * {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    background-color: hsl(0, 0%, 100%);
    font-family: system-ui, sans-serif;
    color: hsl(230, 7%, 23%);
    font-size: 1rem;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.2;
    color: hsl(230, 13%, 9%);
    font-weight: 700;
  }
  
  h1 {
    font-size: 2.0736rem;
  }
  
  h2 {
    font-size: 1.728rem;
  }
  
  h3 {
    font-size: 1.25rem;
  }
  
  h4 {
    font-size: 1.2rem;
  }
  
  ol, ul, menu {
    list-style: none;
  }
  
  button, input, textarea, select {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    appearance: none;
  }
  
  textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
  }
  
  a {
    color: hsl(250, 84%, 54%);
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  img, video, svg {
    display: block;
    max-width: 100%;
  }
  
  @media (min-width: 64rem) {
    body {
      font-size: 1.25rem;
    }
  
    h1 {
      font-size: 3.051rem;
    }
  
      h2 {
      font-size: 2.44rem;
    }
  
      h3 {
      font-size: 1.75rem;
    }
  
      h4 {
      font-size: 1.5625rem;
    }
  }
  
  /* variables */
  :root {
    /* colors */
    --ad5-color-primary-hsl: 250, 84%, 54%;
    --ad5-color-bg-hsl: 0, 0%, 100%;
    --ad5-color-contrast-high-hsl: 230, 7%, 23%;
    --ad5-color-contrast-higher-hsl: 230, 13%, 9%;
    --ad5-color-contrast-medium-hsl: 225, 4%, 47%;
    --ad5-color-accent-hsl: 342, 89%, 48%;
    --ad5-color-contrast-lower-hsl: 240, 4%, 85%;
  
    /* spacing */
    --ad5-space-xs: 0.5rem;
    --ad5-space-md: 1.25rem;
    --ad5-space-lg: 2rem;
    --ad5-space-sm: 0.75rem;
  
    /* typography */
    --ad5-text-md: 1.2rem;
    --ad5-text-base: 1rem;
    --ad5-text-sm: 0.833rem;
    --ad5-text-sm: 0.833rem;
  }
  
  @media(min-width: 64rem){
    :root {
      /* spacing */
      --ad5-space-xs: 0.75rem;
      --ad5-space-md: 2rem;
      --ad5-space-lg: 3.125rem;
      --ad5-space-sm: 1.125rem;
  
      /* typography */
      --ad5-text-md: 1.5625rem;
      --ad5-text-base: 1.25rem;
      --ad5-text-sm: 1rem;
      --ad5-text-sm: 1rem;
    }
  }
  
  /* component */
  
  
  /* utility classes */
  :where(.ad5-media-wrapper-16\:9) {
    position: relative;
    height: 0;
  }
  
  .ad5-media-wrapper-16\:9 {
    padding-bottom: 56.25%;
  }
  
  .ad5-media-wrapper-16\:9 > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .ad5-media-wrapper-16\:9 > *:not(iframe) {
    object-fit: cover;
  }
  
  @media (min-width: 90rem) {
    .ad5-text-component__block--outset {
      width: calc(100% + 12rem);  
    }
  
    .ad5-text-component__block--outset img {
      display: block;width: 100%;
    }
  
    .ad5-text-component__block--outset:not(.ad5-text-component__block--right) {
      margin-left: -6rem;
    }
  
    .ad5-text-component__block--right.ad5-text-component__block--outset {
      margin-right: -6rem;
    }
  }
  
  .ad5-gap-xs {
    gap: var(--ad5-space-xs);
  }
  
  .ad5-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .ad5-grid > * {
    min-width: 0;
    grid-column-end: span 12;
  }
  
  @media (min-width: 48rem) {
    .ad5-text-component__block--left, .ad5-text-component__block--right {
      width: 45%;
    }
  
    .ad5-text-component__block--left img, .ad5-text-component__block--right img {
      display: block;
      width: 100%;
    }
  
    .ad5-text-component__block--left {
     float: left;
     margin-right: calc(var(--ad5-space-sm) * var(--ad5-space-multiplier, 1));
    }
  
    .ad5-text-component__block--right {
     float: right;
      margin-left: calc(var(--ad5-space-sm) * var(--ad5-space-multiplier, 1));
    }
  }
  
  @media (min-width: 90rem) {
    .ad5-text-component__block--left, .ad5-text-component__block--right {
      width: 50%;
    }
  }
  
  .ad5-text-center {
    text-align: center;
  }
  
  .ad5-text-gap-md {
    --ad5-space-multiplier: 1.25;
  }
  
  .ad5-line-height-lg {
    line-height: 1.58;
  }
  
  .ad5-text-component :where(h1, h2, h3, h4) {
    line-height: var(--ad5-heading-line-height, 1.2);
    margin-top: calc(var(--ad5-space-md) * var(--ad5-space-multiplier, 1));
    margin-bottom: calc(var(--ad5-space-sm) * var(--ad5-space-multiplier, 1));
  }
  
  .ad5-text-component :where(p, blockquote, ul li, ol li) {
    line-height: var(--ad5-body-line-height, 1.4);
  }
  
  .ad5-text-component :where(ul, ol, p, blockquote, .ad5-text-component__block) {
    margin-bottom: calc(var(--ad5-space-sm) * var(--ad5-space-multiplier, 1));
  }
  
  .ad5-text-component :where(ul, ol) {
    padding-left: 1.25em;
  }
  
  .ad5-text-component ul :where(ul, ol), .ad5-text-component ol :where(ul, ol) {
    padding-left: 1em;
    margin-bottom: 0;
  }
  
  .ad5-text-component ul {
    list-style-type: disc;
  }
  
  .ad5-text-component ol {
    list-style-type: decimal;
  }
  
  .ad5-text-component img {
    display: block;
    margin: 0 auto;
  }
  
  .ad5-text-component figcaption {
    margin-top: calc(var(--ad5-space-xs) * var(--ad5-space-multiplier, 1));
    font-size: var(--ad5-text-sm);
    text-align: center;}
  
  .ad5-text-component em {
    font-style: italic;
  }
  
  .ad5-text-component strong {
    font-weight: bold;
  }
  
  .ad5-text-component s {
    text-decoration: line-through;
  }
  
  .ad5-text-component u {
    text-decoration: underline;
  }
  
  .ad5-text-component mark {
    background-color: hsla(var(--ad5-color-accent-hsl), 0.2);
    color: inherit;
  }
  
  .ad5-text-component blockquote {
    padding-left: 1em;
    border-left: 4px solid hsl(var(--ad5-color-contrast-lower-hsl));
    font-style: italic;
  }
  
  .ad5-text-component hr {
    margin: calc(var(--ad5-space-md) * var(--ad5-space-multiplier, 1)) auto;
    background: hsl(var(--ad5-color-contrast-lower-hsl));
    height: 1px;
  }
  
  .ad5-text-component > *:first-child {
    margin-top: 0;
  }
  
  .ad5-text-component > *:last-child {
    margin-bottom: 0;
  }
  
  .ad5-text-component.ad5-line-height-xs {
    --ad5-heading-line-height: 1;
    --ad5-body-line-height: 1.1;
  }
  
  .ad5-text-component.ad5-line-height-sm {
    --ad5-heading-line-height: 1.1;
    --ad5-body-line-height: 1.2;
  }
  
  .ad5-text-component.ad5-line-height-md {
    --ad5-heading-line-height: 1.15;
    --ad5-body-line-height: 1.4;
  }
  
  .ad5-text-component.ad5-line-height-lg {
    --ad5-heading-line-height: 1.22;
    --ad5-body-line-height: 1.58;
  }
  
  .ad5-text-component.ad5-line-height-xl {
    --ad5-heading-line-height: 1.3;
    --ad5-body-line-height: 1.72;
  }
  
  .ad5-max-width-adaptive-sm {
    max-width: 32rem;
  }
  
  @media(min-width: 48rem) {
    .ad5-max-width-adaptive-sm {
      max-width: 48rem;
    }
  }
  
  .ad5-container {
    width: calc(100% - 2*var(--ad5-space-md));
    margin-left: auto;
    margin-right: auto;
  }
  
  .ad5-radius-lg {
    border-radius: 0.5em;
  }
  
  .ad5-width-100\% {
    width: 100%;
  }
  
  .ad5-block {
    display: block;
  }
  
  .ad5-margin-bottom-lg {
    margin-bottom: var(--ad5-space-lg);
  }
  
  .ad5-max-width-lg {
    max-width: 80rem;
  }
  
  .ad5-color-contrast-medium {
    --ad5-color-o: 1;
    color: hsla(var(--ad5-color-contrast-medium-hsl), var(--ad5-color-o, 1));
  }
  
  .ad5-text-sm {
    font-size: var(--ad5-text-sm);
  }
  
  .ad5-text-base {
    font-size: var(--ad5-text-base);
  }
  
  .ad5-text-gap-2xs {
    --ad5-space-multiplier: 0.25;
  }
  
  .ad5-justify-center {
    justify-content: center;
  }
  
  .ad5-flex {
    display: flex;
  }
  
  .ad5-text-md {
    font-size: var(--ad5-text-md);
  }
  
  .ad5-margin-bottom-md {
    margin-bottom: var(--ad5-space-md);
  }
  
  .ad5-max-width-xs {
    max-width: 38rem;
  }
  
  .ad5-padding-y-lg {
    padding-top: var(--ad5-space-lg);
    padding-bottom: var(--ad5-space-lg);
  }
  
  .ad5-col-6 {
    grid-column-end: span 6;
  }